/** @format */

.product-image-gatito {
  height: 480px;
  width: 600px;
}

.product-image-jacket {
  width: 300px;
  height: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  font-family: inherit;
}

body {
  font-family: "Anonymous Pro", "Courier New", monospace;
  font-weight: 400; /* Regular weight by default */
  font-style: normal; /* Regular style by default */
}

 {
  background-image: url(other-files\1567685-223495147.jpg);
  background-size: cover;
  background-position: center;
}
